<h1>Proyects</h1>
<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <%= image_tag 'iguana-project' %>
            <div class="card-body">
                <h5 class="card-title">Iguana Project</h5>
                <a href="https://media.tenor.com/WsKM5ZDigvgAAAAC/penguin-penguins.gif" 
                   class="btn btn-primary naranja">Ver más</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <%= image_tag 'postgresql' %>
            <div class="card-body">
                <h5 class="card-title">PostgreSQL</h5>
                <a href="https://media.tenor.com/WsKM5ZDigvgAAAAC/penguin-penguins.gif" 
                   class="btn btn-primary naranja">Ver más</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <%= image_tag 'tamagochi' %>
            <div class="card-body">
                <h5 class="card-title">Tamagochi</h5>
                <a href="https://media.tenor.com/WsKM5ZDigvgAAAAC/penguin-penguins.gif" 
                   class="btn btn-primary naranja">Ver más</a>
            </div>
        </div>
    </div>
</div>
